<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="pl.krgr.chinczyk.server.presentation.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="pl.krgr.chinczyk.server.presentation.Perspective"
            id="chinczyk-s.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Widok Pokoi"
            class="pl.krgr.chinczyk.server.presentation.RoomsView"
            id="chinczyk-server.Rooms.view">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               standalone="true"
               minimized="false"
               relative="org.eclipse.ui.editorss"
               relationship="left"
               id="chinczyk-server.Rooms.view">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:chinczyk-server.Rooms.view">
         <command
               commandId="chinczyk-server.startCommand"
               icon="icons/start_server.png"
               label="Start serwer"
               style="push">
         </command>
         <command
               commandId="chinczyk-server.stopCommand"
               icon="icons/start_server.png"
               label="Stop serwer"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="chinczyk-server.startCommand"
            name="StartCommand">
      </command>
      <command
            id="chinczyk-server.stopCommand"
            name="StopCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="pl.krgr.chinczyk.server.handlers.StartCommandHandler"
            commandId="chinczyk-server.startCommand">
         <enabledWhen>
            <with
                  variable="pl.krgr.chinczyk.server.presentation.ServerState.started">
               <equals
                     value="false">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="pl.krgr.chinczyk.server.handlers.StopCommandHandler"
            commandId="chinczyk-server.stopCommand">
         <enabledWhen>
            <with
                  variable="pl.krgr.chinczyk.server.presentation.ServerState.started">
               <equals
                     value="true">
               </equals>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="pl.krgr.chinczyk.server.presentation.ServerState">
         <variable
               name="pl.krgr.chinczyk.server.presentation.ServerState.started"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>

</plugin>
