<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="pl.krgr.chinczyk.client.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="%perspective.name"
            class="pl.krgr.chinczyk.client.Perspective"
            id="chinczyk-klient.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="pl.krgr.chinczyk.client.presentation.GameView"
            id="pl.krgr.chinczyk.client.presentation.MainView.view"
            name="%view.name">
      </view>
      <view
            class="pl.krgr.chinczyk.client.presentation.PlayRooms"
            id="chinczyk-klient.playrooms.view"
            name="Pokoje"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="pl.krgr.chinczyk.client.presentation.MainView.view"
               minimized="false"
               ratio="0.65"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true">
         </view>
         <view
               id="chinczyk-klient.playrooms.view"
               minimized="false"
               ratio="0.35"
               relationship="left"
               relative="pl.krgr.chinczyk.client.presentation.MainView.view"
               showTitle="true"
               standalone="false">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:chinczyk-klient.playrooms.view">
         <command
               commandId="chinczyk-klient.connectCommand"
               icon="icons/connect16.png"
               label="Połącz"
               style="toggle">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="chinczyk-klient.connectCommand"
            name="Connect Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="pl.krgr.chinczyk.client.handlers.ConnectCommandHandler"
            commandId="chinczyk-klient.connectCommand">
      </handler>
   </extension>

</plugin>
