@charset "utf-8";

body {
		margin: 2cm;
		margin-top: 1cm;
		margin-left: 3cm;
		margin-right: 3cm;
	 }

h1 {
	font-size: 18pt;
	letter-spacing: 1pt;
	color: orange;
	text-align: center;
	padding: 0.5cm;
	}
	
p {
	font-size: 12pt;
}
  
ul.menu_left {
	border: thin;
	border-style: solid;
	border-color: orange;
	text-align: center;
	background-color: rgb(255,255,128);
	padding: 0.5cm;
	width: 4.5cm;
	margin:0;
	list-style: none;
	display: block;
	float: left;
}

a {
	text-decoration: none;
	font-weight: bold;
}

a:link {
	color: rgb(196,98,0);
}
a:visited {
	color:rgb(196,98,0);
}
a:HOVER {
	color:red;
}

div#footer {
	text-align: center;
	font-size: 10pt;
	color:teal;
	clear: both;
}

div#content {
	padding-top: 0.1cm;
	padding-left: 1cm;
/* 	width: 70%;
 */	
 	width: 20cm;
 	float: left;
}

div#container {
	float:left;
}

div#header {
/* 	border: thin;
	border-style: solid;
	border-color: orange;
 */}

img#bracia {
/* 	border: thin;
	border-style: solid;
	border-color: orange;
 */	float: left;
 	margin-left: 1cm;
}

hr {
	height: 1px;
/* 	color: teal;
 */	background-color: teal;
	border: none;
}

img {
	border: none;
}

p.centered {
	text-align: center;
}